.whatapplink {
    display: block;
    padding: 5px;
    background-color: #008bdb;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0px 0px 3px #333333;
    animation-name: shake;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    
    from{
        background: -webkit-linear-gradient(#008bdb,#333333);
        background: -o-linear-gradient(#008bdb,#333333);
        background: -moz-linear-gradient(#008bdb,#333333);
        background: linear-gradient(#008bdb,#333333);
    }

    to{
        background: -webkit-linear-gradient(#333333, #008bdb);
        background: -o-linear-gradient(#333333, #008bdb);
        background: -moz-linear-gradient(#333333, #008bdb);
        background: linear-gradient(#333333, #008bdb);
    }
}

.w {
    color: #000;
    margin: 0px 0px 0px;
}

.w h5{
    color: #ffffff;
    font-weight: bold;
    margin: 0px 0px 0px;
}