.head2 {
    text-align: center;
}

.prag {
    font-weight: bold;
}

.preque {
    margin-top: 10px;
}

.ad {
    padding: 10px;
    background-color: #ddd;
}

.ad h3{
    padding: 50px;
    text-align: center;
}

.ad h4{
    padding: 0px 50px 50px 50px;
    text-align: center;
}