.head2 {
    text-align: center;
}

.prag {
    font-weight: bold;
}

.preque {
    margin-top: 10px;
}

.ad {
    padding: 10px;
    color: white;
    background: -webkit-linear-gradient(#008bdb,#333333);
    background: -o-linear-gradient(#008bdb,#333333);
    background: -moz-linear-gradient(#008bdb,#333333);
    background: linear-gradient(#008bdb,#333333);
}

.ad h3{
    padding: 50px;
    text-align: center;
}

.ad h4{
    padding: 0px 50px 50px 50px;
    text-align: center;
}